[submodule "third_party/apw"]
	path = third_party/apw
	url = https://github.com/actionless/awesome-pulse-widget
	branch = awesome3.6
[submodule "third_party/revelation"]
	path = third_party/revelation
	url = https://github.com/actionless/awesome-revelation
	branch = awesome3.6
[submodule "third_party/awesome_overview"]
	path = third_party/awesome_overview
	url = https://github.com/BlingCorp/awesome-overview
