[Desktop Entry]
Encoding=UTF-8
Name=Awesome ARGB
Comment=Highly configurable framework window manager
TryExec=awesome
Exec=awesome_argb
Type=Application
